# registry=https://registry.npmjs.org/
# @cw:registry=https://pkgs.dev.azure.com/InctureProducts/_packaging/Workbox/npm/registry/                     
# always-auth=true
# ; begin auth token
# //pkgs.dev.azure.com/InctureProducts/_packaging/Workbox/npm/registry/:username=InctureProducts
# //pkgs.dev.azure.com/InctureProducts/_packaging/Workbox/npm/registry/:_password=eWE3czRsbjV0cnQ2cWRpYmE1NGVrdTYzNGhzdWczaDJueTZzZHpobWo3bmQzdXIzandzYQ==
# //pkgs.dev.azure.com/InctureProducts/_packaging/Workbox/npm/registry/:email=manjunath.jp@incture.com
# //pkgs.dev.azure.com/InctureProducts/_packaging/Workbox/npm/:username=InctureProducts
# //pkgs.dev.azure.com/InctureProducts/_packaging/Workbox/npm/:_password=eWE3czRsbjV0cnQ2cWRpYmE1NGVrdTYzNGhzdWczaDJueTZzZHpobWo3bmQzdXIzandzYQ==
# //pkgs.dev.azure.com/InctureProducts/_packaging/Workbox/npm/:email=manjunath.jp@incture.com
# ; end auth token